<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GT3用モデルサイズ調整ツール.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GT3用モデルサイズ調整ツール.Properties.Settings>
            <setting name="Size_edit" serializeAs="String">
                <value>1400000</value>
            </setting>
            <setting name="Inc_or_Dec" serializeAs="String">
                <value>0</value>
            </setting>
        </GT3用モデルサイズ調整ツール.Properties.Settings>
    </userSettings>
</configuration>