<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GT7_B_specツール_プラグイン無し.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <GT7_B_specツール_プラグイン無し.Properties.Settings>
            <setting name="wait_start" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="wait_replay" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="wait_racemenu" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="wait_race2load" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="racefinish_min" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="racefinish_sec" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="rightkey_down" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="rightkey_wait" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="enter1" serializeAs="String">
                <value>False</value>
            </setting>
        </GT7_B_specツール_プラグイン無し.Properties.Settings>
    </userSettings>
	<appSettings>
		<add key="SendKeys" value="SendInput"/>
	</appSettings>
</configuration>
