<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GT7_B_specツール_カスタムレース用.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <GT7_B_specツール_カスタムレース用.Properties.Settings>
      <setting name="racefinish_min" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="racefinish_sec" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="rightkey_down" serializeAs="String">
        <value>0.3</value>
      </setting>
      <setting name="rightkey_wait" serializeAs="String">
        <value>0.6</value>
      </setting>
      <setting name="ps5check" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="alwaysstickcheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="stickangle" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="comboboxboost" serializeAs="String">
        <value>なし</value>
      </setting>
      <setting name="comboboxaccel" serializeAs="String">
        <value>R2</value>
      </setting>
      <setting name="comboboxhandle" serializeAs="String">
        <value>左スティック</value>
      </setting>
      <setting name="gettimecheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="nitroon_wait" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ComboBoxhandlemuki" serializeAs="String">
        <value>右</value>
      </setting>
      <setting name="dailyticket_get" serializeAs="String">
        <value>2</value>
      </setting>
    </GT7_B_specツール_カスタムレース用.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="SendKeys" value="SendInput" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>